.catalog {
  display: grid;
  grid-template-columns: repeat(4, $width-card);
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;

  @media (max-width: 487px) {
    grid-template-columns: $width-card;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $width-card);
  }

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $width-card);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
